.btn {
  position: absolute;
  right: 30px;
  bottom: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  font-size: 0;
  cursor: pointer;
  background-color: rgb(9, 116, 254);
  border-radius: 25px;
  box-shadow: 0 4px 12px 2px rgba(9, 116, 254, 30%);

  &::after {
    position: absolute;
    width: 12px;
    height: 1.5px;
    color: rgb(248, 253, 255);
    content: '';
    background-color: #ffffff;
  }

  &::before {
    position: absolute;
    width: 12px;
    height: 1.5px;
    color: rgb(248, 253, 255);
    content: '';
    background-color: #ffffff;
    transform: rotate(90deg);
  }
}
