.main {
  width: 100%;
  height: 450px;
  padding: 20px;

  &__title {
    font-size: 30px;
    font-weight: 600;
    color: rgb(29, 48, 91);
  }

  &__category {
    margin: 10px 0;
    font-size: 10px;
    font-weight: 600;
    color: rgb(189, 194, 224);
    text-transform: uppercase;
    letter-spacing: 0.6px;
  }
}

.slider {
  width: 100%;
  height: 100px;

  &__content {
    width: 100%;
    height: 70px;
    margin: 10px 0;
  }
}

.list {
  width: 100%;
  height: 330px;
  padding: 15px 0;
  overflow: scroll;
}
